.inputСontainer {
  display: flex;
  flex-direction: column;
    margin-bottom: 10px;
    width: 700px;
    border: 3px solid purple;
    align-items: center
  }
  
  input {
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .addButton {
    display: flex;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 200px;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgb(54, 0, 54);
    }
  }

  .inputForm {
    display: flex;
    align-items: center;
    width: 400px;
  }